<div class="row d-flex justify-content-center h-100 align-items-center">
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Register</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="formGrp" (ngSubmit)="onRegister()">
          <div class="row d-flex justify-content-center">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>User Name</label>
                <input formControlName="userName" type="text" class="form-control">
                <div *ngIf="this.validationService.isFieldValid(formGrp, 'userName')" style="color: red">
                  User name is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Email</label>
                <input formControlName="email" type="email" class="form-control">
                <div *ngIf="this.validationService.isFieldValid(formGrp, 'email')" style="color: red">
                  Email is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>First Name</label>
                <input formControlName="firstName" type="text" class="form-control">
                <div *ngIf="this.validationService.isFieldValid(formGrp, 'firstName')" style="color: red">
                  First name is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Last Name</label>
                <input formControlName="lastName" type="text" class="form-control">
                <div *ngIf="this.validationService.isFieldValid(formGrp, 'lastName')" style="color: red">
                  Last name is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Password</label>
                <input formControlName="password" type="password" class="form-control">
                <div *ngIf="this.validationService.isFieldValid(formGrp, 'password')" style="color: red">
                  Password is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Register</button>
            </div>
          </div>
          <div class="text-center">
            <a routerLink="/login">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
